.Header {
  .container {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &-menu {
    margin-left: auto;
    display: flex;

    a {
      color: black;
      padding: 10px;
      margin-left: 30px;
      margin-right: 30px;
    }
    a:hover {
      color: silver;
      border-radius: 20px;
      transition-duration: 200ms;
    }
  }
}
