.Ourblog {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: $margin-fix;

  &-title {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 70px;
  }

  &-text {
    font-size: 12px;
    margin-bottom: $margin-fix;
    margin-right: 50%;
  }

  &-contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    &-1 {
      height: 270px;
      weight: 370px;
      &-img {
        background-color: gray;
        height: 270px;
        weight: 370px;

        a {
          display: flex;
          justify-content: center;
          font-size: 60px;
        }
      }

      &-title {
        margin-right: 15px;
        margin-top: 15px;
        font-weight: bold;
        font-size: 16px;
      }

      &-summary {
        margin-right: 15px;
        margin-top: 15px;
        font-size: 12px;
      }

      &-date {
        font-size: 10px;
        margin-top: 15px;
      }
    }

    &-2 {
      height: 270px;
      weight: 370px;
      &-img {
        background-color: gray;
        height: 270px;
        weight: 370px;

        a {
          display: flex;
          justify-content: center;
          font-size: 60px;
        }
      }

      &-title {
        margin-right: 15px;
        margin-top: 15px;
        font-weight: bold;
        font-size: 16px;
      }

      &-summary {
        margin-right: 15px;
        margin-top: 15px;
        font-size: 12px;
      }

      &-date {
        font-size: 10px;
        margin-top: 15px;
      }
    }

    &-3 {
      height: 270px;
      weight: 370px;
      &-img {
        background-color: gray;
        height: 270px;
        weight: 370px;

        a {
          display: flex;
          justify-content: center;
          font-size: 60px;
        }
      }

      &-title {
        margin-right: 15px;
        margin-top: 15px;
        font-weight: bold;
        font-size: 16px;
      }

      &-summary {
        margin-right: 15px;
        margin-top: 15px;
        font-size: 12px;
      }

      &-date {
        font-size: 10px;
        margin-top: 15px;
      }
    }
  }
}
